/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/

@font-face{
	font-family: Montserrat;
	src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face{
	font-family: SourceSans;
	src: url(fonts/SourceSans/SourceSans3-VariableFont_wght.ttf);
}

body {
	background-color: #bdc3c7;
	font-family: Montserrat, sans-serif;
	width: 350px;
	margin: 0 auto;
	margin-top:100px;
	position: relative;
}

.profil{
	box-shadow: 0 0 20px 0 rgb(75, 75, 75);
}

.jmeno{
	font-family: Montserrat;
	color: rgb(226, 226, 226);
}

img{
	width: 350px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.hlavicka{
	margin: 0;
	padding: 0;
	background-color: rgb(81, 81, 81);
}

.logo{
	width: 70px;
	height: 70px;
	background-color: #b92e81;
	border-radius: 50%;
	position: absolute;
	left: 70%;
	top: 26%;
}

.obsah{
	padding: 20px;
	background-color: rgb(81, 81, 81);
	color: rgb(176, 176, 176);
	font-size: 18px;
	font-family: SourceSans;
}

h1{
	padding-top: 0;
	margin-top: 20px;
	font-family: Montserrat;
}

.odkazy{
	text-align: center;
	text-transform: uppercase;
	background-color: rgb(81, 81, 81);
	margin: 0;
	padding: 0;
	border-top: 1px solid rgb(109, 109, 109);
	font-size: 20px;
	font-weight: 600;
}

.odkazy a{
	text-decoration: none;
	color: rgb(176, 176, 176);
	margin: 0;
}

.odkazy li{
	list-style: none;
	padding: 20px;
}

.facebook,
.twitter{
	display: inline-block;
	width: 50%;
	border-top: 1px solid rgb(109, 109, 109);
}

.portfolio{
	padding-top: 20px;
	padding-bottom: 20px;
}

.facebook{
	border-left: 1px solid rgb (109, 109, 109);
}

.portfolio a:hover{
	background-color: #e74c3c;
	display: inline-block;
	color: white;
}

.facebook a:hover{
	background-color: #3b5998;
	display: inline-block;
	color: white;
}

.twitter a:hover{
	background-color: #1da1f2;
	display: inline-block;
	color: white;
}